<div class="main-div">
	<mat-toolbar class="sidebar-head">
		<img src="../../../assets/img/fg-1.png" class="responsive w-100">
	</mat-toolbar>
	<div class="sidebar-options">
		<button mat-button class="w-100 p-0" *ngFor="let mod of modulos">
			<a [routerLink]="'./'+mod.url">
				<span class="d-none d-md-inline-block">{{mod.title}}</span>
			    <mat-icon class="d-inline-block">{{getIcon(mod.title)}}</mat-icon>
			</a>
		</button>
		<button mat-button class="w-100 p-0" (click)="logout()">
		    <span class="d-none d-md-inline-block">LOGOUT</span>
		    <mat-icon class="d-inline-block">exit_to_app</mat-icon>
		</button>
	</div>
</div>
