<div class="main-footer d-md-none d-block" [ngClass]="status ? 'xtended' : ''">
	<mat-toolbar (click)="clickShowMenu()" class="footer-title">
		<mat-toolbar-row>
			<mat-icon>menu</mat-icon>
			<span>Menú</span>
		</mat-toolbar-row>
	</mat-toolbar>
	<div class="footer-options">
		
		<button mat-button class="w-100 p-0" *ngFor="let mod of modulos">
			<a [routerLink]="'./'+mod.url" (click)="status=false">
			    <mat-icon class="d-inline-block">{{getIcon(mod.title)}}</mat-icon>
				<span class="d-inline-block">{{mod.title}}</span>
			</a>
		</button>
		<button mat-button class="w-100 p-0" (click)="logout()">
		    <mat-icon class="d-inline-block">exit_to_app</mat-icon>
		    <span>LOGOUT</span>
		</button>
	</div>
</div>