<delete-confirm (onClicConfirm)="deleteUser(currentIdDelete)"></delete-confirm>
<edit-user [person]="currentUserEdit"></edit-user>
<div class="col-12 col-sm-10 offset-sm-1">
	<div class="example-header">
	  <mat-form-field>
	    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	  </mat-form-field>
	</div>

	<div class="example-container mat-elevation-z8">

	  <mat-table [dataSource]="dataSource" matSort>

	    <ng-container matColumnDef="fullName">
	      <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Name</strong> </mat-header-cell>
	      <mat-cell *matCellDef="let row"> {{row.fullName}} </mat-cell>
	    </ng-container>

	    <ng-container matColumnDef="role">
	      <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Role</strong> </mat-header-cell>
	      <mat-cell *matCellDef="let row"> {{getRoles(row.roles)}}</mat-cell>
	    </ng-container>

	    <ng-container matColumnDef="email">
	      <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>E-mail</strong> </mat-header-cell>
	      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
	    </ng-container>

	    <ng-container matColumnDef="action">
	      <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Action</strong> </mat-header-cell>
	      <mat-cell *matCellDef="let row" class="row"> 
	      	<button mat-raised-button ng-if="icon_svr.roles.canUpdate(moduleName)" (click)="openModalEdit(row)" title="Edit" class="col-12 col-sm-1 shadow-none text-info"><mat-icon>{{icon_svr.getIcon("UPDATE")}}</mat-icon></button>
	      	<button mat-raised-button ng-if="icon_svr.roles.canRemove(moduleName)" (click)="openModalDelete(row.id)" title="Remove" class="col-12 col-sm-1 shadow-none text-danger"><mat-icon>{{icon_svr.getIcon("REMOVE")}}</mat-icon></button>
	      </mat-cell>
	    </ng-container>

	    <mat-header-row *matHeaderRowDef="displayedColumns" class="form-title text-center"></mat-header-row>
	    <mat-row *matRowDef="let row; columns: displayedColumns;" id="prc_{{row.id}}">
	    </mat-row>
	  </mat-table>

	  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</div>
</div>
